/* ------------------------------------ */
.tablestd {
    /* width:fit-content; */
    width: inherit;
    border: medium groove;
    border-color: lightblue;
    background: url(../Images/Common/TransparentWhiteBg50.png) repeat-y left top;
    /* background: transparent url(../Images/Common/TransparentWhiteBg50.png) repeat-y left top; */
    /* for IE */
    /* filter: alpha(opacity=65); */
    /* CSS3 standard */
    /* opacity:0.65; */
    /* margin: 1em; */
    padding: 1em;
    /* margin: 1%;
    padding: 1%; */
    /* padding: 1% 0% 1% 0%; */
    /* display:block; */
}
.tdleft {
    /* text-align: left; */
    border: thick groove;
    /* border-color: lightblue; */
    width: 50%;
    height: fit-content;
    margin: 1em;
    padding: 1em;
    /* padding: 1% 0% 1% 0%; */
    /* display:block; */
    background: #e1e2e5;
    /* for IE */
    /* filter: alpha(opacity=65); */
    /* CSS3 standard */
    /* opacity:0.65; */
}
.tdright {
    /* text-align: left; */
    border: thick groove;
    /* border-color: lightblue; */
    width: 50%;
    height: fit-content;
    margin: 1em;
    padding: 1em;
    /* padding: 1% 0% 1% 0%; */
    /* display:block; */
    background: #e1e2e5;
}
.tdcenter {
    column-span: all;
    text-align: center;
    /* align-content: center; */
    border: thick groove;
    border-color: lightblue;
    width: 100%;
    height: fit-content;
    margin: 1em;
    padding: 1em;
    /* padding: 1% 0% 1% 0%; */
    display:block;
    background: #e1e2e5;
}
/* ------------------------------------ */
/* ------------------------------------ */
.table1 {
    width: 100%;
    /* border: gray; */
    background: url(../Images/Common/TransparentBg50.png);
}
.table1tdLeft {
    width: 20%;
    border: 0;
    margin-top: 0;
}
.table1tdright {
    width: 80%;
    border: 0;
    margin-top: 0;
}
/* ------------------------------------ */
/* ------------------------------------ */
.table2 {
    width: 100%;
    border: groove;
    border-block-color: lightblue;
    /* border: gray; */
}
.table2tdLeft {
    width: 20%;
    border: groove;
    border-block-color: lightgray;
    margin-top: 0;
}
.table2tdright {
    width: 80%;
    border: groove;
    border-block-color: lightgray;
    margin-top: 0;
}
/* ------------------------------------ */
/* ------------------------------------ */
.leftside div {
    width:auto;
    float: left;
    text-align: left;
}
.rightside div {
    width: auto;
    float: right;
    text-align: right;
    justify-content: right;
}
/* ------------------------------------ */
/* ------------------------------------ */
.TextTop {
    vertical-align: text-top;
}
/* ------------------------------------ */
/* Elements */
body {
    width: 600px;
}
.bodywidth {
    width: 600px;
    max-width: 800px;
}
.bodywidthmax {
    max-width: 800px;
}
.centered {
    text-align: center;
    align-items: center;
}
/* ----------------- */
/* Tags: */
img {
    border: 10;
    border: groove;
}
.picsmall {
    size: 150px;
    max-width: 250px;
}
.pictiny {
    size: 50px;
    max-width: 150px;
}
.piccol {
    size: 200px;
    max-width: 250px;
}
