A:active
{
}
A:link
{
    COLOR: #FF0000
}
A:visited
{
    COLOR: #CCFF00
}
A:hover
{
    COLOR: #00FF66
}
UL
{
    MARGIN-BOTTOM: 0em;
    MARGIN-TOP: 0em;
}
OL
{
    MARGIN-BOTTOM: 0em;
    MARGIN-TOP: 0em;
}
#cP
{
    COLOR: blue
}
#cPl
{
    COLOR: #00b0f0
}
#cPd
{
    COLOR: navy
}
#cS
{
    COLOR: #006868
}
#cSl
{
    COLOR: #00aeae
}
#cSd
{
    COLOR: #00504b
}
#cTh
{
    COLOR: red
}
#cTb
{
    COLOR: black
}
#cTc
{
    COLOR: red
}
#cTt
{
    COLOR: navy
}
#cTb2
{
    COLOR: navy
}
#cTl
{
    COLOR: black
}
#cTs
{
    COLOR: #6a6a6a
}
#cTcS
{
    COLOR: black
}
#cRed
{
    COLOR: red
}
#cBlack
{
    COLOR: black
}
#cBlue
{
    COLOR: blue
}
#cTeal
{
    COLOR: teal
}
