/* MdmBodyBox */
/* Mdm Body Container CSS */
/* -- Body Divisions 3 Columns -- */

#BodyMainContainer {
/* Position */
position:absolute;
/* Size */
min-width:1000px;
min-height:650px;
}

#BodyMainContainerBg {
/* Position */
position:absolute;
/* Size */
min-width:1000px;
min-height:650px;
/* Background */
background:#e1e2e5;
/* for IE */
filter:alpha(opacity=65);
/* CSS3 standard */
opacity:0.65;
}

.BodyMainBorder {
/* Border */
border-width:5px;
border:solid;
border-color: #3e3d66;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
/* -- end -- */

/* -- CENTER -- */
#BodyMainCenter {
/* Position */
position:absolute;
top:0px;
left:200px;
/* Size */
min-width:600px;
height:inherit;
/* Background */
background: url(../Images/TransparentWhiteBg50.png);
/* Alignment */
overflow:auto;
}

/* -- LEFT -- */
#BodyMainLeft {
/* Position */
position:absolute;
top:0px;
left:0px;
/* Size */
min-width:200px;
height:inherit;
overflow:hidden;
}

#BodyMainLeftOuter {
/* Position */
float:left;
z-index:20;
padding-left:10%;
/* Size */
width:90%;
height:inherit;
overflow:hidden;
/* Background */
background:#ffffff url(../Images/SwirlsLeft.gif) repeat-y left top;
}

#BodyMainLeftInner {
/* Position */
float:right;
z-index:21;
/* Size */
width:100%;
height:inherit;
overflow:hidden;
/* Background */
background:transparent url(../Images/SwirlsEdge.gif) repeat-y right top;
}

/* -- Right -- */
#BodyMainRight {
/* Position */
position:absolute;
top:0px;
left:800px;
/* Size */
min-width:200px;
height:inherit;
overflow:hidden;
}

#BodyMainRightOuter {
/* Position */
float:right;
z-index:20;
/* Size */
width:100%;
height:inherit;
/* Background */
background:#ffffff url(../Images/SwirlsRight.gif) repeat-y right top;
}

#BodyMainRightInner {
/* Position */
float:left;
z-index:21;
/* Size */
width:100%;
height:inherit;
/* Background */
background:transparent url(../Images/SwirlsEdge.gif) repeat-y left top;
}

/* -- end -- */
/* -- */

/* -- Body Paragraph Content -- */
.BodyParaBox{
/* Position */
padding:10px;
min-width:250px;
height:200px;
float:none;
border-color:Grey;
}

.BodyParaBoxBg{
/* Position */
padding:10px;
min-width:250px;
height:200px;
overflow:visible;
/* Background */
background:#F5FEFF;
/* for IE */
filter:alpha(opacity=65);
/* CSS3 standard */
opacity:0.65;
}

.BodyPara{
margin:0px 10px 0px 10px;
background:#F5FEFF;
}

p.BodyPara  {
text-indent:20px;
padding-bottom:5px;
}

.BodyParaLeft{
position:relative;
float:left;
}

.BodyParaRight{
      position:relative;
      float:right;
  }

  /* -- Body Callouts -- */
  .CalloutContent{
      margin:10px 10px 10px 10px;
       text-align:justify;
      z-index:5;
   }

  .CalloutBorder{
      /* Border */
      border-style:solid;
      /* border-style:groove; */
      border-width:8px;
      /* border:solid; */
      border-color:#999933; /* cPcd */
      /* Background */
      background-color:#FFFFCC;
      /* Border */
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
       padding:5px 5px 10px 10px;
   }
   
/* -- end -- */
/* -- */

#DivC1{
margin-top:5px;
}

/* -- end -- */
/* -- */
    
