/* Default CSS */
body {  }

#C3P99 {
-webkit-transition-property: color, font-size;
-o-transition-property: color, font-size;
-moz-transition-property: color, font-size;
transition-property: color, font-size;
}

#C3P991 {
transition-property: all;
transition-duration: 5.5s;
transition-timing-function:ease-out;
transition-delay:5.5s;
transition: property duration animationType(function) animationDelay;
box-shadow: 0em 0em  .3em #212121;

transform: translate(30.0em, -10.0em);
transform: skew(35deg);
transform: scale(1,0,5);
transform: rotate(45deg);

animation: x;
box-flex: x;
bookmark-target:url();
counter-increment:integer;
crop:rect();
image-orientation:auto;
image-resolution:dpi;
mark-before: x;
marquee-direction:reverse;
opacity:alphavalue;
outline-width:thick;
pause-after:1s;
rotation:angle;
text-justify:distribute;
text-outline:color;
text-shadow: x;
text-transform:capitalize;
text-wrap:normal;
word-wrap:break-word;
}

