/* Body Header CSS */

/* ----------------------------------------------------------------------------- */
/* MdmBodyHeader */
/* -- Body Header -- */ 
body {
text-align: center;
/* Default is Top */
padding: 0em 0em 2.5em 0em;
margin: 0em;
}

/* ----------------------------------------------------------------------------- */
/* -- Default Box Layout -- */
.BodyBox {
background-image:url("../Images/BackgroundBlueSpiral.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
padding: 2.5em 0em 2.5em 0em;
}

/* Body Image Background */ 
.BodyBoxBg {
position:fixed;
top:0;
left:0;
background-image:url("../Images/BackgroundBlueSpiral.jpg");
width:100%;
height:100%;
z-index:-2;
}

/* ----------------------------------------------------------------------------- */
/* Body Div */
/* not in use */
.BodyArea {
width:100%;
height:100%;
margin:0;
padding:0;
}
/* ----------------------------------------------------------------------------- */
/* -- Body Main -- */ 
/* not in use */
.BodyMain {
width:auto;
height:auto;
/* height:inherit; */
margin:0;
padding:0;
display:block;
}
/* -------------------------------------------- */
.BodyMainBorder {
/* Size */
height: 100%;
/* Border */
border-top: .5em solid #3e3d66;
border-bottom: .5em solid #3e3d66;
}

.BodyMainBorderTop {
/* Border */
border-top: .5em solid #3e3d66;
border-bottom: .5em solid #3e3d66;
}

.BodyMainBorderSide {
/* Border */
border-left: .5em solid #3e3d66;
border-right: .5em solid #3e3d66;
}

.BodyMainBorderBoxed {
/* Border */
border: .5em solid #3e3d66;
border-radius: 1em;
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
}

/* ----------------------------------------------------------------------------- */
/* -- Body Container -- */ 
/* -------------------------------------------- */
/* Mdm Body Container CSS */
/* Body Container Divisions */
/* -------------------------------------------- */
.BodyMainContainer {
/* Position */
position:relative;
/* Size */
width:100%;
/* height: 100%; */
min-width:15.0em;
min-height:50.0em;
/* Alignment */
overflow-y:visible;
/* Layout / Visibility */
display:block;
}

#BodyMainContainerOld {
width:100%;
height:100%;
margin: 0em 0em 0em 0em;
padding: 0em 0em 0em 0em;
}

/* ----------------- */
.BodyMainContainerBg {
/* Position */
position:absolute;
/* Size */
width:100.0em;
min-height:65.0em;
/* Background */
background:#e1e2e5;
/* for IE */
filter: alpha(opacity=65);
/* CSS3 standard */
opacity:0.65;
}

/* ----------------- */
/* -------------------------------------------- */
/* Mdm Body Image Containter */
/* -------------------------------------------- */
.BodyImageContainer{
/* Layout / Visibility */
display:block;
/* Layering */
z-index:400;
}

.BodyMenuImageContainer{
/* Layout / Visibility */
display:block;
/* Layering */
z-index:400;
/*
background:
 url(../Images/Thumbnails/MdmBlank.jpg) top left no-repeat,
 url(../Images/Thumbnails/MdmCogSciProj.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmDbUtilClass.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmDghAccom.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmDghCarBio.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmImportTld.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmKBil.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmMvvmProj.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmNetAppFrame.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmNetVirList.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmOutlookSync.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmPickOss.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmPickTr.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmResume.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmRsmIt.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmSrt.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmSystemMgnt.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmTechRsrch.jpg) bottom left no-repeat,
 url(../Images/Thumbnails/MdmWebDev.jpg) bottom left no-repeat;
*/
}

/* -------------------------------------------- */
/* Mdm Body Containter Object - Console, Temp */
/* -------------------------------------------- */
.BodyConsoleContainer { }

.BodyTempContainer { }

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* -- Body Container Divisions -- */
#BodyMainCenterOld {
/* Position */
position:absolute;
top: 6.3em;
left:1%;
/* Size */
min-height:40.0em;
}

/* ----------------------------------------------------------------------------- */
/* -- Default Box Layout -- */
.BodyBoxTop {
padding: 2.5em 0em 2.5em 0em;
}

.BodyBoxSide {
padding: 0em 2.5em 0em 2.5em;
}

.BodyBoxed {
padding: 2.5em;
width:auto;
height:auto;
}

/* ----------------- */
/* -- Default Spacer -- */
.SpacerBottom {
position:absolute;
left: 0em;
height: 3em;
display:block;
}

/* ----------------- */
/* ----------------------------------------------------------------------------- */
