/* Default CSS */

/* ----------------- */
 #BodyMainContainer {
/* Size */
height:100%;
/* Size */
width:92%;
/* Alignment */
padding:2%;
margin:2%;
}

/* ----------------- */
/* -- Centre Area-- */
#BodyMainCenter {
/* Position */
/* Size */
width:99%;
/* Alignment */
}

/* ----------------- */

#B0D0H1{
/* Position */
/* position:absolute; */
position:relative;
left:25%;
/* Size */
width:50%;
/* Alignment */
margin: 2% 0% 0% 0%;
padding:1%;
text-align:center;
/* Background */
background: url(../Images/TransparentBg30.png);
}

/* ----------------- */

.DivB1{
/* Position */
position:relative;
/* Size */
width:35%;
/* Alignment */
margin-top: 2%;
/* ----------------- */
}

#B1C1 {
max-width:50%;
}

/* Callout Para Poup */
#B1C1A {
/* Layering */
z-index:2;
}

#B1C1A .CPP{
/* Layering */
display:none;
}

#B1C1A:hover .CPP{
/* Layering */
display:block;
}

/* ----------------- */

.DivB2{
/* Position */
position:relative;
/* Size */
width:55%;
/* Alignment */
margin-top: 2%;
}

#B2D1 {
/* Size */
width:47%;
/* Alignment */
margin-top:1.0em;
}

/* ----------------- */

#B2D2 {
/* Size */
width:47%;
/* Alignment */
margin-top:1.0em;
}

/* ----------------- */
/* Callout Para Poup */
#B2C1A {
/* Layering */
z-index:2;
}

#B2C1A .CPP{
/* Layering */
display:none;
}

#B2C1A:hover .CPP{
/* Layering */
display:block;
}

#B2C1Img1Thumb { }

#B2C1Img1 {
/* Position */
/* Size */
width:50.0em;
height:50.0em;
/* Alignment */
/* Layering */
z-index:4;
}

/* ----------------- */

#B2C2A {
/* Layering */
z-index:1;
}

#B2C2A .CPP{
/* Layering */
display:none;
}

#B2C2A:hover .CPP{
/* Layering */
display:block;
}

#B2C2Img1Thumb { }

#B2C2Img1 {
/* Position */
/* Size */
width:50.0em;
height:50.0em;
/* Alignment */
/* Layering */
z-index:4;
}

#B2C2Img1Orig {
/* Position */
position:absolute;
top: 0em;
left: 0em;
/* Size */
width:50.0em;
height:50.0em;
/* Alignment */
/* Layering */
z-index:4;
}

/* ----------------- */

.DivB3{
/* Position */
position:relative;
/* Size */
width:55%;
/* Alignment */
margin-top: 2.5em;
}

#B3C1 {
/* Size */
width:30%;
}

#B3C1A .CPP{
/* Layering */
display:none;
}

#B3C1A:hover .CPP{
/* Layering */
display:block;
z-index:1;
}

/* ----------------- */

.DivB4{
/* Position */
position:relative;
/* Size */
width:33%;
/* Alignment */
margin-top: 2%;
margin-Bottom: 2%;
}

#B4D1P1{
/* Border */
}

#B4C1 {
/* Size */
max-width:50%;
/* Alignment */
text-align:center;
}

#B4C1AH1 {
/* Alignment */
text-align:center;
}

#B4C1AP1{
}

#B4C1A .CPP{
/* Layering */
display:none;
}

#B4C1A:hover .CPP{
/* Alignment */
text-align:center;
/* Layering */
display:block;
/* Layering */
z-index:1;
}


/* ----------------- */
/* ----------------- */

.DivB5{
/* Position */
position: relative;
/* Size */
width: 35%;
/* Alignment */
margin-top: 2%;
}

#B5D1P1{
/* Border */
}

#B5C1 {
/* Size */
max-width:50%;
/* Alignment */
text-align:center;
}

#B5C1AH1 {
/* Alignment */
text-align:center;
}

#B5C1AP1{
}

#B5C1A .CPP{
/* Layering */
display:none;
}

#B5C1A:hover .CPP{
/* Alignment */
text-align:center;
/* Layering */
display:block;
/* Layering */
z-index:1;
}


/* ----------------- */
