/* MdmMain */

/* -- Styling - Specific Instances -- */

#TitleTopLeft { }

#C3P1 {
/* transform: rotate(45deg); */
}
/* ----------------- */
/* Callout Para Pop up */
#DivCalloutB15C1 {
/* max-width:50%; */
/* Layering */
}

#DivCalloutB15C1 .CPP{
/* Layering */
display:none;
}

#DivCalloutB15C1:hover .CPP{
/* Layering */
display:block;
width:40.0em;
z-index: 1004;
}

#DivCalloutB15C1:hover {
/* Layering */
display:block;
width:40.0em;
z-index: 1004;
}

#DivCalloutB15C1ImgSet{
/* Size */
overflow-y:scroll;
/* Layering */
display:block;
}

#DivCalloutB15C1Img1Thumb { }

/* ----------------- */
/* Callout Para Pop up */
#DivCalloutB15C2 {
/* max-width:50%; */
/* Layering */
}

#DivCalloutB15C2 .CPP{
/* Layering */
display:none;
}

#DivCalloutB15C2:hover .CPP{
/* Layering */
display:block;
width:40.0em;
z-index: 1004;
}

#DivCalloutB15C2:hover {
/* Layering */
display:block;
width:40.0em;
z-index: 1004;
}

#DivCalloutB15C2ImgSet{
/* Size */
overflow-y:scroll;
/* Layering */
display:block;
}

#DivCalloutB15C2Img1Thumb { }

/* ----------------- */
