/* Default CSS */

/* ----------------- */
#BodyH1 {
/* Position */
position:relative;
top:1%;
left:20%;
/* Size */
width:50%;
/* Alignment */
padding:1.0em;
text-align:center;
/* Background */
background: url(../Images/TransparentBg30.png);
}

/* ----------------- */

.DivB1{
/* Position */
position:relative;
top:1%;
/* Layout */
float: left;
/* Size */
width: 47%;
/* width:35.0em; */
/* Alignment */
margin:1%;
}


/* ----------------- */

.DivB2{
/* Position */
position:relative;
top:1%;
/* Layout */
float: right;
/* Size */
width: 47%;
/* Alignment */
margin:1%;
}

#B2D1 {
/* Size */
width:45%;
}

#B2D2 {
/* Size */
width:45%;
}

/* ----------------- */

/* Callout Para Poup */
#B2C1 {
/* Layering */
z-index:2;
}

#B2C1A {
/* Layering */
z-index:2;
}

#B2C1A .CPP{
/* Layering */
display:none;
}

#B2C1A:hover .CPP{
/* Layering */
display:block;
}

#B2C1Img1Thumb {
/* Size */
width:15.0em;
}

#B2C1Img1 {
/* Position */
/* Size */
width:50.0em;
height:50.0em;
/* Alignment */
/* Layering */
z-index:4;
}

/* ----------------- */

#B2C2A {
/* Layering */
z-index:1;
}

#B2C2A .CPP{
/* Layering */
display:none;
}

#B2C2A:hover .CPP{
/* Layering */
display:block;
}

#B2C2Img1Thumb {
height:9.0em;
}

#B2C2Img1 {
/* Position */
/* Size */
width:50.0em;
height:50.0em;
/* Alignment */
/* Layering */
z-index:4;
}

/* ----------------- */

.DivB3{
/* Position */
position:relative;
top:1%;
/* Layout */
float: left;
/* Size */
width: 47%;
/* Alignment */
margin:1%;
}

/* ----------------- */

.DivB4{
/* Position */
position:relative;
top:1%;
/* Layout */
float: left;
/* Size */
width: 47%;
/* Alignment */
margin:1%;
}

/* ----------------- */
.DivP6{
/* Position */
position:relative;
top:1%;
/* Size */
width:47%;
/* Layout */
float: left;
/* Alignment */
margin:1%;
}
/* ----------------- */

