/* Mdm Page Template Wide CSS */

#MdmDbUtilClassBody { }

#BodyArea { }

#BodyMainContainer{ }

/* ----------------- */  
#BodyMainTop { }

/* -- Centre Area-- */
#BodyMainCenter{ 
margin: 0px;
padding: 25px;
}

/* ----------------- */  
.DivB1 {
/* Size */
width: 400px;
}
/* ----------------- */  

#B7D1 {
/* Size */
width: 100%;
}
/* ----------------- */  
