/* Mdm Page Template Wide CSS */

/* ----------------- */

/* ----------------- */

/* -- Centre Area-- */
#BodyMainCenter{
/* Position */
position:relative;
/* Alignment */
margin: 0em;
padding: 2.5em;
}

/* ----------------- */
