/* Default CSS */
#BodyMainCenter, .BodyMainCenter {
    width: 100%;
}
/* ----------------- */
/* Callout Para Poup */
#B1C1A {
/* Layering */
z-index:2;
}
#B1C1A .CPP{
/* Layering */
display:none;
}
#B1C1A:hover .CPP {
/* Layering */
display:block;
}
/* ----------------- */
/* Callout Para Poup */
#B2C1A {
/* Layering */
z-index:2;
}
#B2C1A .CPP{
/* Layering */
display:none;
}
#B2C1A:hover .CPP{
/* Layering */
display:block;
}
#B2C1Img1 {
/* Position */
/* Size */
width:50.0em;
height:50.0em;
/* Alignment */
/* Layering */
z-index:4;
}
/* ----------------- */
#B2C2A {
/* Layering */
z-index:1;
}
#B2C2A .CPP{
/* Layering */
display:none;
}
#B2C2A:hover .CPP{
/* Layering */
display:block;
}
#B2C2Img1 {
/* Position */
/* Size */
width:50.0em;
height:50.0em;
/* Alignment */
/* Layering */
z-index:4;
}
/* ----------------- */
#B3C1 {
/* Size */
width:30%;
}
#B3C1A .CPP{
/* Layering */
display:none;
}
#B3C1A:hover .CPP{
/* Layering */
display:block;
z-index:1;
}
/* ----------------- */
#B4C1 {
/* Size */
max-width:50%;
/* Alignment */
text-align:center;
}
#B4C1AH1 {
/* Alignment */
text-align:center;
}
#B4C1A .CPP{
/* Layering */
display:none;
}
#B4C1A:hover .CPP{
/* Alignment */
text-align:center;
/* Layering */
display:block;
/* Layering */
z-index:1;
}
/* ----------------- */
#B5C1 {
/* Size */
max-width:50%;
/* Alignment */
text-align:center;
}
#B5C1AH1 {
/* Alignment */
text-align:center;
}
#B5C1A .CPP{
/* Layering */
display:none;
}
#B5C1A:hover .CPP{
/* Alignment */
text-align:center;
/* Layering */
display:block;
/* Layering */
z-index:1;
}
/* ----------------- */
