html,body
{
    padding: 10;
    margin: 10;
    height: 100%;
}
body {
    width: 600px;
}
p {
    max-width: 450px;
    word-wrap: normal;
}
img {
    border: 10;
    border: groove;
}
/* ------------------------------------ */
.picsmall {
    size: 150px;
    max-width: 250px;
}
/* ------------------------------------ */
.bodywidthmax {
    max-width: 720px;
}
.centered {
    text-align: center;
    align-items: center;
}
.bodycentered {
    align-items: center;
    /* text-align: center; */
    margin: auto;
    align-content: center;
    align-items: center;
    align-self: center;    
}
/* ------------------------------------ */
.tablestd{
    width: inherit;
    margin: 20px;
}
.tdright td {
    text-align: right;
    border: groove;
    width: 50%;
    margin: 20px;
}
.tdleft td {
    text-align: left;
    border: groove;
    width: 50%;
    margin: 20px;
}
.tdcenter td {
    text-align: center;
    border: groove;
    width: 80%;
    column-span: all;
}
/* ------------------------------------ */
.table1 {
    width: 80%;
    /* border: gray; */
}
.table1tdLeft {
    width: 20%;
    border: 0;
    margin-top: 0;
}
.table1tdright {
    width: 80%;
    border: 0;
    margin-top: 0;
}
.table2 {
    width: 80%;
    border: groove;
    border-block-color: lightblue;
    /* border: gray; */
}
.table2tdLeft {
    width: 20%;
    border: groove;
    border-block-color: lightgray;
    margin-top: 0;
}
.table2tdright {
    width: 80%;
    border: groove;
    border-block-color: lightgray;
    margin-top: 0;
}
/* ------------------------------------ */
.leftside div {
    width:auto;
    float: left;
    text-align: left;
}
.rightside div {
    width: auto;
    float: right;
    text-align: right;
    justify-content: right;
}
/* ------------------------------------ */
.DescTable { 
    /* width: 50%; */
    text-align: start;
    /* max-width: max-content;  */
    vertical-align: text-top;
    /* border: groove;
    border-block-color: darkslategrey; */
    table-layout:auto;
}
.DescTableRowLine {
    float: left;
    grid-auto-rows:auto;
}
/* ------------------------------------ */
