/* MdmBaseTags */
/* -- Fonts Standard-- */
/* body, blocks */
/* body,
/* div,
/* para, span */
p, .p,
span, .span,
/* font size */
big, .big,
small, .small,
/* decoration */
i, .i,
b, .b,
strong,
/* list */
li, .li,
ol, .li,
ul, .ul,
/* table */
td, .td,
th, .th,
tbody,
/* links */
a, .a,
/* -- Fonts Standard-- */
.fNormal,
.fStandard,
.fText {
font-family: 
 "Courier New", 
 "Courier", 
 "Times New Roman", 
 "serif",
 "Times New Roman",
 "Georgia",
 "Palatino Linotype",
 "Sylfaen",
 "Garamond",
 "Book Antiqua",
 "Bookman Old Style"     
;
font-size: 1em;
}

p, .p {
margin-top: 0.5em;
margin-bottom: 0.5em;
/* color:#000; */
}

/* (c)olour: */
/* (P)rimary             cP     color:#6666CC; cP */ 
/* (P)rimary Dark        cPd    color:#666699; cPd */ 
/* (P)rimary Light       cPl    color:#CCCCFF;cPl */ 
/* (S)econdary           cS     color:#CC9966; cS */ 
/* (S)econdary Dark      cSd    color:#996633; cSd */ 
/* (S)econdary Light     cSl    color:#FFFFCC; cSl */ 

/* a:visited, .a:visited, a:hover, .a:hover { } */

/* p { 
margin-top: 0em;
padding-top: 0em;
margin-bottom: 0em;
padding-bottom: 0em;
}
*/


.fStandard {
font-size: 1em;
}

.fNormal {
font-size: 1.4em;
}

.fText {
margin-top: .3em;
}

/* -- Links -- */

/* -- Fonts Fancy -- */
.fPromo, 
.fBlurb,
.fTiny,
.fMicro
{
font-family: cursive, Storybook, "MS Sans Serif", "Courier New";
}

.fPromo {
font-size: 1.2em;
}

.fBlurb 
{
font-size: 1.2em;
}

.fTiny
{
font-size: 0.8em;
}

.fMicro
{
font-size: .6em;
}

/* -- Fonts Code -- */

.fCode
{
font-family: "Courier, monospace", 
Monaco,
"Lucida Console",
Consolas,
"Andale Mono",
"Bitstream Vera Sans Mono",
"Lucida Sans Typewriter",
"DejaVu Sans Mono",
monospace
;
font-size: 1em;
LINE-HEIGHT: 1.1em;
list-style: lower-roman;
}

.fDiploma
{
font-family: 
Diploma, 
Storybook, 
OldCentury, 
cursive
;
font-size: 1.4em;
list-style: lower-roman;
}

.fTest
{
font-family: "Windsor Lt BT";
list-style: lower-roman;
}


/* -- Headings -- */

H1, .h1,
H2, .h2,
H3, .h3,
H4, .h4,
H5, .h5,
H6, .h6
{
font-family: Diploma, Storybook, cursive;
text-align: center;
color:#666699; /* cPd */
margin: 0em 0.5em 0em 0em; /* 0em; */
padding: 0.5em 0.5em 0.25em 0.5em; /*.5em; */
font-weight: bold;
/* Border */
/* border-right: none; */
/* border-bottom: 0.1em solid black; */
}

Hem1, .Hem1
{ font-size: 2.0em; }

Hem2, .Hem2
{ font-size: 1.8em; }

Hem3, .Hem3
{ font-size: 1.4em; }

Hem4, .Hem4
{ font-size: 1.2em; }

Hem5, .Hem5
{ font-size: 1em; }

Hem6, .Hem6
{ font-size: 1em; }

H1, .h1,
H2, .h2,
H3, .h3,
H4, .h4,
H5, .h5,
H6, .h6
{
font-family: Diploma, Storybook, cursive;
text-align: center;
color:#666699; /* cPd */
margin: 0em;
padding: .5em;
font-weight: bold;
}

H1, .h1
{ font-size: 20pt; }

H2, .h2
{ font-size: 18pt; }

H3, .h3
{ font-size: 14pt; }

H4, .h4
{ font-size: 12pt; }

H5, .h5
{ font-size: 10pt; }

H6, .h6
{ font-size: 10pt; }

/* -- Table of Contents */
.Toc1
{
}
.Toc2
{
}
.Toc3
{
}
.Toc4
{
}
.Toc5
{
}
.Toc6
{
}


/* -- Standard Captions -- */
.Caption
{
color:  Maroon;
}
.Caption2
{
color: Red;
}


/* -- Title -- */
.Title
{
color: blue;
font-size:  2.4em;
}
.Title2
{
color:  Blue;
font-size: 2.0em
}

/* -- Layout - Margin  -- */
 .Margin0
 { margin: 0em 0em 0em 0em; }
 .Margin5 
 { margin: .5em .5em .5em 0.5em; }
 .Margin10
 { margin: 1em 1em 1em 1em; }
 .Margin15
 { margin: 1.5em 1.5em 1.5em 1.5em; }
 .Margin25
 { margin: 2.5em 2.5em 2.5em 2.5em; }

/* -- Layout - Indent  -- */
 .Indent0
 { text-indent: 0em; }
 .Indent5 
 { text-indent: 0.5em; }
 .Indent10
 { text-indent: 1em; }
 .Indent15
 { text-indent: 1.5em; }
 .Indent25
 { text-indent: 2.5em; }

.Pad0
{ padding: 0em 0em 0em 0em; }
.Pad5
{ padding: .5em .5em .5em 0.5em; }
.Pad10
{ padding: 1em 1em 1em 1em; }
.Pad15
{ padding: 1.5em 1.5em 1.5em 1.5em; }
.Pad25
{ padding: 2.5em 2.5em 2.5em 2.5em; }

/* -- Decoration -- */
.eB
{
font-weight:900;
}
.eBold
{
font-weight: bold;
}
.eI
{
font-style: italic;
}
.eU
{
text-decoration: underline;
}
.eBI
{
font-style: italic;
font-weight: bold;
}
.eBU
{
font-weight: bold;
text-decoration: underline;
}
.eBIU
{
font-style: italic;
font-weight: bold;
text-decoration: underline;
}
.eIU
{
font-style: italic;
text-decoration: underline;
}


/* -- Lists -- */
.lB0
{
list-style: inside url(../Images/lb0bult.gif);
margin: 0em 0em 0em 0.5em;
padding: 0em 0em 0em 0.5em;
text-indent:-0em;
}
.lB1
{
list-style: inside url(../Images/lb1bult.gif);
margin: 0em 0em 0em 0.5em;
padding: 0em 0em 0em 0.5em;
text-indent:1.0em;
}
.lB2
{
list-style: inside url(lb2bult.gif);
margin: 0em 0em 0em 2.5em;
padding: 0em 0em 0em 2.5em;
text-indent: 5em;
}
.lRoman
{
list-style: upper-roman inside;
margin: 0em 0em 0em 0.5em;
padding: 0em 0em 0em 0.5em;
text-indent: 0em;
}
.lNumbered
{
list-style: decimal inside;
margin: 0em 0em 0em 0.5em;
padding: 0em 0em 0em 0.5em;
text-indent: 0em;
}
.lRomanLower
{
list-style: lower-roman inside;
margin: 0em 0em 0em 0.5em;
padding: 0em 0em 0em 0.5em;
text-indent: 0em;
}

/* -- Fonts -- */

/* -- Fonts Size -- */
.f8
{
font-size: 0.8em;
}
.f10
{
font-size: 1em;
}
.f11
{
font-size: 1.1em;
}
.f12
{
font-size: 1.2em;
}
.f14
{
font-size: 1.4em;
}
.f16
{
font-size: 1.6em;
}
.f18
{
font-size: 1.8em;
}
.f20
{
font-size: 2.0em;
}
.f24
{
font-size:  2.4em;
}
.f28
{
font-size:  2.8em;
}
.f32
{
font-size:  3.2em;
}
.f36
{
font-size:  3.6em;
}

/* Alignment */
.aLeft{ text-align: left; }
.aRight{ text-align: right; }
.aCenter{ text-align: center; }
.aJustify{ text-align: justify; }
/* no line wrapping etc */
.aNoWrap { white-space: nowrap; }
/* Clear - no float */
.aClearBoth { clear: both; }
/* Clear none */
.aClearNone { clear: none; }

/* -- Borders -- */
.BorderThin{
/* Border */
border-style:outset;
/* border-style:groove; */
/* border-style:solid; */
border-width:.4em;
border-color: #DADCE4;
} 

.BorderThick{
/* Border */
border-style:outset;
border-width:1.0em;
border-color: #3e3d66;
}
/* -- end -- */
/* -- */

/* -- HACKS AND FIXES -- */
.FixPara{ 
/* Position */
display:block;
/* Alignment */
/* Size */
height: .2em;
clear: both;
content: ".";
}

.FixFloat{ 
/* Position */
display:block;
/* Alignment */
float:right;
/* Size */
height: .2em;
clear: left;
content: ".";
}

.FixExtra {
/* Position */
/* Alignment */
/* Size */
height: .2em;
clear: both;
}

.FixClear { 
/* Position */
position:relative;
/* Size */
height: .2em;
clear: both;
display:block;
content: ".";
}

.FixClear2 { 
/* Position */
/* Size */
height: .2em;
}

.FixClear2:after {
/* Position */
position:relative;
/* Size */
height: .2em;
clear: both;
display:block;
content: ".";
}

.FixClear1 { 
/* Position */
position:relative;
/* Size */
height: .2em;
width:100%;
}

.FixClear1:after {
/* Position */
/* Size */
height: .2em;
clear: both;
visibility: hidden;
display:block;
content: ".";
}

.FixClear3{
overflow: auto; 
height: 1%;
}


/* -- Other Tags -- */

pre {
display: block;
font-family: monospace;
white-space: pre;
/* margin: 0.1em 0em; */
margin-top: 0.1em;
margin-right: 0em;
margin-bottom: 0.1em;
margin-left: 0em;
}

xmp, plaintext, listing {
display: block;
font-family: monospace;
white-space: pre;
margin: 0.1em 0em;
}

